{
  "presets": ["babel-preset-react"],
  "env": {
    "development": {
      "plugins": [
        [
          "transform-react-jsx",
          {
            "pragma": "h"
          }
        ]
      ]
    }
  }
}